* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}

.logo {
    display: block;
    width: 53px;
}

.logos {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    row-gap: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.logo1 {
    height: 40px;
    width: auto;
    opacity: 60%;
    transition: 0.5s;
}

:hover.logo1 {
    opacity: 100%;
    height: 55px;
}

.webheader {
    width: 100%;
    height: 73px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 3px 3px 3px 0 rgba(29, 39, 53, 0.16);
    background-color: #ffffff4f;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.498);

}

.textsheader {
    list-style: none;
    display: flex;
    gap: 34px;

}

.texthome,
.textservices,
.textaboutus,
.textcontactus {
    font-size: 15px;
    position: relative;
    color: #003067;
}

/* Menu Animation */

.texthome::before,
.textservices::before,
.textaboutus::before,
.textcontactus::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff648f;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.texthome:hover::before,
.textservices:hover::before,
.textaboutus:hover::before,
.textcontactus:hover::before {
    transform: scaleX(1);
}

/* Menu Animation */

.contentheader {
    display: flex;
    align-items: center;
    gap: 34px;
}

.home {

    width: 100%;
    background-image: url(../img/homebackground.jpg);
    background-size: cover;
    background-position: center;
    position: relative;

}

.homeillustration {
    width: 76vh;
    animation: fadeInRight 0.7s;
}

.homecontent {
    width: 479px;
    display: flex;
    flex-direction: column;
    gap: 3vh;

}

.hhomeheadcontent {
    animation: bounceInLeft 0.7s;
}

.homeheadcontent {
    display: block;
    font-size: 48px;
    color: #334f74;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}



.hometextgradient {
    background: linear-gradient(135deg, #ff648f 10%, #dd7a96 30%, #547aa5 45%, #4c6e94 55%, #547aa5 70%, #dd7a96 87%, #ff648f 100%);
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    animation: shine 4s linear infinite;
}

@keyframes shine {
    100% {
        background-position: 200% center;
        will-change: background-position;
    }
}

.homesecondcontent {
    color: #56657a;
    font-size: 19px;
    animation: bounceInLeft 1s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.contactbutton {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding: 1.5vh 3.5vh 1.5vh 3.5vh;
    color: white;
    border: none;
    border-radius: 7px;
    background-image: linear-gradient(to top, #172e8a 0%, #69b9e8 90%);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.16);
    animation: backInLeft 1.1s;
    margin-top: 5vh;
}

.contactbutton:hover {
    background-image: linear-gradient(to top, #334794 0%, #98d9fe 90%);
    cursor: pointer;
}

.contactbutton:active {
    background-image: linear-gradient(to top, #102474 0%, #4ba8de 90%);
}

.trust {
    color: #56657a;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.trust::before {
    background-color: #545F7E;
    content: '';
    flex-grow: 1;
    height: 1px;
    margin-left: 3vh;
    margin-right: 3vh;
}

.trust::after {
    background-color: #545F7E;
    content: '';
    flex-grow: 1;
    height: 1px;
    margin-left: 3vh;
    margin-right: 3vh;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 11%;
    padding-bottom: 10%;
    padding-left: 3%;
    padding-right: 3%;
}

.textservicesh1 {
    text-align: center;
    font-size: 37px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #003067;
    margin-bottom: 7vh;
}

.services {
    width: 100%;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.for4div {
    display: grid;
    gap: 10vh;
    grid-template-columns: 0fr 0fr;
    justify-content: center;

}

.rec1 {
    box-shadow: 6px 6px 23px 0 rgba(0, 0, 0, 0.10);
    background-color: #ffffff;
    border-radius: 50px;
    transition: 0.7s;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vh;
    padding: 4vh;
}

:hover.rec1 {
    box-shadow: 6px 6px 23px 0 rgba(0, 0, 0, 0.284);
    background-color: #fbfbfb;
}

.gradientrec1 {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(137deg, #df15e6 -5%, #3f90ce 78%);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradientrec2 {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(133deg, #22a1a1 -4%, #4c8ec1 76%);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}




.gradientrec3 {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(135deg, #bb80ff, #c7ae14 100%);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.gradientrec4 {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(132deg, #a4be76 -9%, #86cfad 73%);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #ff648f;
    left: 33px;
    top: 90px;
    font-size: 20px;
}

.contentservice {
    width: 20em;
    font-size: 18px;
    color: #001c41;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;

}

.iconpng {
    width: 28px;
    height: auto;
}

.aboutus {
    width: 100%;
    background-image: url(../img/about.png);
    background-size: cover;
    background-position: center;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

.titleaboutus {
    text-align: center;
    font-size: 37px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #003067;
}

.textforaboutus {
    color: #001c41;
    text-align: center;
    width: 60%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}

.a3dicon1 {
    height: 70px;
    position: absolute;
    left: 20%;
    animation: heartBeat 6s infinite;
}

.a3dicon2 {
    height: 70px;
    position: absolute;
    right: 20%;
    animation: heartBeat 10s infinite;
}

.contactus {
    padding-top: 10vh;
    padding-bottom: 17vh;
}

.titlecontactus {
    text-align: center;
    font-size: 37px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #003067;
    margin-bottom: 7vh;
}

.formm {
    display: flex;
    justify-content: center;
}

.elipses {
    width: 52vh;
    height: 60vh;
    position: absolute;
    left: 50%;
    translate: -50%;
}

.elipsestroke {
    width: 110px;
    height: 110px;
    border: solid 22px #679add;
    border-radius: 50%;
    animation: heartBeat 10s infinite;
    position: relative;
    left: 84%;
    bottom: 6%;
}

.elipse {
    width: 110px;
    height: 110px;
    background-image: linear-gradient(144deg, #ff648f -3%, #e12b2b 90%);
    border-radius: 50%;
    animation: heartBeat 6s infinite;
    position: relative;
    left: -10%;
    top: 63%;
}

.form {
    width: 52vh;
    height: 60vh;
    border-radius: 60px;
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(11px);
    background-color: #c6c5c526;
    z-index: 9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.sendbutton {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding: 1.5vh 3.5vh 1.5vh 3.5vh;
    color: white;
    border: none;
    border-radius: 7px;
    background-image: linear-gradient(to top, #172e8a 0%, #69b9e8 90%);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.16);
    margin-bottom: 6vh;
}

.sendbutton:hover {
    background-image: linear-gradient(to top, #334794 0%, #98d9fe 90%);
    cursor: pointer;
}

.sendbutton:active {
    background-image: linear-gradient(to top, #102474 0%, #4ba8de 90%)
}

.form2 {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.forms {
    height: 45px;
    border: none;
    background-color: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 27px;
    color: #545f7e;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    padding: 20px;
    transition: 0.2s;
}

.forms:hover {
    box-shadow: 0 1px 20px 2px rgba(0, 0, 0, 0.16);
}

.companyphonenumber {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #003067;
    margin-left: 17px;

}

.companyemail {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #003067;
    margin-left: 17px;
}



.callicon {
    height: auto;
    width: 20px;
}

.mailicon {
    height: auto;
    width: 23px;
}

.forcall {
    display: flex;
    margin-bottom: 17px;
}

.foremail {
    display: flex;
}

.foot {
    width: 100%;
    border-top: 1px solid #545F7E;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12%;
    padding: 2vh;
}


.footlogo {
    width: 45px;
}

.logotext {
    color: #003067;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-left: 1vh;
}

.copyright {
    color: #001c41;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}

.iconn {
    height: 17px;
    opacity: 100%;
    transition: 0.2s;
}

.iconn:hover {
    opacity: 60%;
}

.logofoot {
    display: flex;
    align-items: center;
}

.icons {
    display: flex;
    gap: 15px;
}

a:link {
    text-decoration: none;
    color: inherit;
}

a:visited {
    text-decoration: none;
    color: inherit;
}


/* Responsive Menu */

.svgs {
    display: none;
    width: 48px;
    height: 48px;
    position: relative;
    cursor: pointer;
}


.svg1 {
    position: absolute;
    transition: 0.3s;
}

.svg2 {
    position: absolute;
    rotate: 180deg;
    transition: 0.3s;
}

.rightmenu {
    -webkit-backdrop-filter: blur(10px);
    margin-top: 73px;
    width: 45%;
    height: 100%;
    position: fixed;
    z-index: 998;
    right: 0;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.85);
    transition: 0.3s;
    -webkit-transition: 0.3s;

}

.blureffect {
    margin-top: 73px;
    width: 100%;
    height: 100%;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 997;
    background-color: rgba(0, 0, 0, 0.36);
    transform: translateX(-100%);

}




.righttextsheader {
    margin-top: 5vh;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin-left: 5vh;
}

.righttexthome,
.righttextservices,
.righttextaboutus,
.righttextcontactus {
    font-size: 25px;
    color: #003067;
}


/* Responsive */

@media screen and (max-width: 1160px) {
    .homeheadcontent {
        font-size: 44px;
        display: block;
    }

    .hometextgradient {
        font-size: 44px;
    }

    .textforaboutus {
        width: 75%;
    }
}

@media screen and (max-width: 1120px) {
    .main {
        flex-direction: column;
        align-items: center;
        padding-bottom: 20%;
    }

    .homecontent {
        text-align: center;
        width: 85%;
        margin-bottom: 2vh;
    }

    .homeheadcontent {
        font-size: 38px;
        display: inline;
    }

    .hometextgradient {
        font-size: 38px;
    }

    .contactbutton {
        position: absolute;
        left: 50%;
        translate: -50%;
        top: 68%;
    }
}

@media screen and (max-width: 970px) {
    .main {
        padding-top: 15%;
    }

    .homeheadcontent {
        font-size: 33px;
        display: inline;
    }

    .hometextgradient {
        font-size: 33px;
    }

    .contactbutton {
        top: 70%;
    }

    .homeillustration {
        width: 66vh;
    }

    .for4div {
        grid-template-columns: 0fr;
    }
}

@media screen and (max-width: 840px) {
    .contactbutton {
        top: 71%;
    }

    .main {
        padding-bottom: 30%;
    }

    .homeillustration {
        width: 60vh;
    }

    .homecontent {
        width: 88%;
    }

    .textsheader {
        display: none;
    }

    .svgs {
        display: block;
    }

    .contentheader {
        gap: 70vh;
    }

    .foot {
        flex-direction: column;
        gap: 3vh;
    }

    .icons {
        gap: 45px;
    }

    .form {
        width: 45vh;
    }

    .elipses {
        width: 45vh;
    }

    .webheader {
        display: block;
    }

    .contentheader {
        display: block;
    }

    .logo {
        position: absolute;
        left: 4vh;
        top: 50%;
        transform: translateY(-50%);
    }

    .svgs {
        position: absolute;
        right: 4vh;
        top: 50%;
        transform: translateY(-50%);
    }

    .a3dicon2 {
        right: 15%;
        height: 60px;
    }

    .a3dicon1 {
        left: 15%;
        height: 60px;
    }

    .textforaboutus {
        font-size: 16.5px;
    }

}

@media screen and (max-width: 600px) {
    .main {
        padding-top: 20%;
    }

    .a3dicon2 {
        right: 5%;
        height: 50px;
    }

    .a3dicon1 {
        left: 5%;
        height: 50px;
    }

    .textforaboutus {
        font-size: 15px;
    }
}

@media screen and (max-width: 530px) {
    .homeillustration {
        width: 50vh;
    }

    .elipsestroke {
        width: 80px;
        height: 80px;
        border: solid 15px #679add;
    }

    .elipse {
        width: 80px;
        height: 80px;
    }

    .main {
        padding-bottom: 45%;
    }

    .homeheadcontent {
        display: block;
    }

    .homesecondcontent {
        font-size: 16px;
    }

    .contactbutton {
        top: 68%;
    }

}

@media screen and (max-width: 450px) {
    .form2 {
        width: 74%;
    }

    .form,
    .elipses {
        width: 40vh;
    }

    .homeillustration {
        width: 44vh;
    }

    .main {
        padding-top: 25%;
        padding-bottom: 40%;
    }

    .contentservice {
        width: 17em;
        font-size: 16px;
    }

    .contactbutton {
        top: 69%;
    }

    .elipse {
        left: 0;
        top: 78%;
    }

    .elipsestroke {
        left: 73%;
        bottom: 7%;
    }

    .sendbutton {
        margin-bottom: 2vh;
    }

    .rightmenu {
        width: 65%;
    }
}
