* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    display: block;
    width: 63px;
    height: 38px;
}

.logos {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    flex-wrap: wrap;
    row-gap: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.logo1 {
    height: 40px;
    width: auto;
    opacity: 60%;
    transition: 0.5s;
}

:hover.logo1 {
    opacity: 100%;
    height: 55px;
}

.webheader {
    width: 100%;
    height: 80px;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 3px 3px 3px 0 rgba(29, 39, 53, 0.16);
    background-color: ffffff4f;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 999;

}

.textsheader {
    list-style: none;
    display: flex;
    gap: 34px;

}

.texthome,
.textservices,
.textaboutus,
.textcontactus {
    font-size: 15px;
    position: relative;
    color: #003067;
}

/* Menu Animation */

.texthome::before,
.textservices::before,
.textaboutus::before,
.textcontactus::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff648f;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.texthome:hover::before,
.textservices:hover::before,
.textaboutus:hover::before,
.textcontactus:hover::before {
    transform: scaleX(1);
}

/* Menu Animation */

.contentheader {
    display: flex;
    align-items: center;
    gap: 34px;
}

.home {

    width: 100%;
    height: 100vh;
    background-image: url(../img/homebackground.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 90px;

}

.homeillustration {
    width: 76vh;
    position: absolute;
    right: 10vh;
    top: 20vh;
    animation: fadeInRight 0.7s;
}

.homecontent {
    width: 479px;
    position: absolute;
    left: 15vh;
    top: 20vh;

}

.homeheadcontent {
    font-size: 48px;
    color: #334f74;
    animation: bounceInLeft 0.7s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.hometextgradient {
    background-image: linear-gradient(135deg, #ff648f 10%, #004a9f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.homesecondcontent {
    top: 28px;
    position: relative;
    color: #56657a;
    font-size: 19px;
    animation: bounceInLeft 1s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.contactbutton {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 500;
    top: 41vh;
    position: absolute;
    width: 168px;
    height: 51px;
    color: white;
    border: none;
    border-radius: 7px;
    background-image: linear-gradient(to top, #172e8a 0%, #69b9e8 90%);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.16);
    animation: backInLeft 1.1s;

}

.contactbutton:hover {
    background-image: linear-gradient(to top, #334794 0%, #98d9fe 90%);
}

.contactbutton:active {
    background-image: linear-gradient(to top, #102474 0%, #4ba8de 90%)
}

.trust {
    color: #56657a;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.trust::before {
    background-color: #545F7E;
    content: '';
    flex-grow: 1;
    height: 1px;
    margin-left: 3vh;
    margin-right: 3vh;
}

.trust::after {
    background-color: #545F7E;
    content: '';
    flex-grow: 1;
    height: 1px;
    margin-left: 3vh;
    margin-right: 3vh;
}

.main {
    width: 100%;
    height: 84vh;
}

.textservicesh1 {
    text-align: center;
    font-size: 37px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #003067;
}

.services {
    width: 100%;
    height: 90vh;
    position: relative;
    margin-bottom: 90px;
}

.for4div {
    top: 12%;
    width: 85%;
    height: 83%;
    position: absolute;
    left: 50%;
    translate: -50%;
    display: flex;
    gap: 5vh;
    flex-wrap: wrap;
    justify-content: center;

}

.rec1 {
    width: 50vh;
    height: 43%;
    box-shadow: 6px 6px 23px 0 rgba(0, 0, 0, 0.10);
    background-color: #ffffff;
    border-radius: 50px;
    transition: 0.7s;
    position: relative;
}

:hover.rec1 {
    box-shadow: 6px 6px 23px 0 rgba(0, 0, 0, 0.284);
    background-color: #fbfbfb;
}

.gradientrec1 {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(137deg, #df15e6 -5%, #3f90ce 78%);
    border-radius: 8px;
    position: absolute;
    left: 33px;
    top: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gradientrec2 {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(133deg, #22a1a1 -4%, #4c8ec1 76%);
    border-radius: 8px;
    position: absolute;
    left: 33px;
    top: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}




.gradientrec3 {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(135deg, #bb80ff, #c7ae14 100%);
    border-radius: 8px;
    position: absolute;
    left: 33px;
    top: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.gradientrec4 {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(132deg, #a4be76 -9%, #86cfad 73%);
    border-radius: 8px;
    position: absolute;
    left: 33px;
    top: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #ff648f;
    position: absolute;
    left: 33px;
    top: 90px;
    font-size: 20px;
}

.contentservice {
    height: 40px;
    width: 340px;
    font-size: 18px;
    color: #001c41;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    position: absolute;
    left: 33px;
    top: 138px;
}

.iconpng {
    width: 28px;
    height: auto;
}

.aboutus {
    width: 100%;
    height: 55vh;
    background-image: url(../img/about.png);
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 90px;
}

.titleaboutus {
    text-align: center;
    font-size: 37px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #003067;
}

.textforaboutus {
    color: #001c41;
    text-align: center;
    width: 60%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}

.a3dicon1 {
    height: 70px;
    position: absolute;
    left: 20%;
    animation: heartBeat 6s infinite;
}

.a3dicon2 {
    height: 70px;
    position: absolute;
    right: 20%;
    animation: heartBeat 10s infinite;
}

.titlecontactus {
    text-align: center;
    font-size: 37px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #003067;
}

.contactus {
    width: 100%;
    height: 85vh;
    position: relative;
    margin-bottom: 90px;
}

.elipsestroke {
    width: 110px;
    height: 110px;
    border: solid 22px #679add;
    border-radius: 50%;
    position: absolute;
    right: -10%;
    top: -9%;
    animation: heartBeat 10s infinite;
}

.elipse {
    width: 110px;
    height: 110px;
    background-image: linear-gradient(144deg, #ff648f -3%, #e12b2b 90%);
    border-radius: 50%;
    position: absolute;
    left: -12%;
    top: 83%;
    animation: heartBeat 6s infinite;
}

.form {
    width: 421px;
    height: 495px;
    border-radius: 60px;
    -webkit-backdrop-filter: blur(11px);
    backdrop-filter: blur(11px);
    background-color: #c6c5c526;
    position: absolute;
    z-index: 9;
    left: 50%;
    translate: -50%;
    top: 15%;
    display: flex;
    justify-content: center;
}

.form1 {
    width: 421px;
    height: 495px;
    position: absolute;
    z-index: 9;
    left: 50%;
    translate: -50%;
    top: 15%;
}

.sendbutton {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 500;
    top: 33vh;
    position: absolute;
    width: 150px;
    height: 51px;
    color: white;
    border: none;
    border-radius: 7px;
    background-image: linear-gradient(to top, #172e8a 0%, #69b9e8 90%);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.16);
}

.sendbutton:hover {
    background-image: linear-gradient(to top, #334794 0%, #98d9fe 90%);
}

.sendbutton:active {
    background-image: linear-gradient(to top, #102474 0%, #4ba8de 90%)
}

.form2 {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 55px;
}

.forms {
    height: 40px;
    border: none;
    background-color: #ffffff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 27px;
    color: #545f7e;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 300;
    padding: 20px;
    transition: 0.2s;
}

.forms:hover {
    box-shadow: 0 1px 20px 2px rgba(0, 0, 0, 0.16);
}

.companyphonenumber {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #003067;
    margin-left: 17px;

}

.companyemail {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #003067;
    margin-left: 17px;
}

.contacttexts {
    position: absolute;
    top: 46vh;

}

.callicon {
    height: auto;
    width: 20px;
}

.mailicon {
    height: auto;
    width: 23px;
}

.forcall {
    display: flex;
    margin-bottom: 17px;
}

.foremail {
    display: flex;
}

.foot {
    width: 100%;
    height: 80px;
    border-top: 1px solid #545F7E;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 245px;
}


.footlogo {
    height: 40px;
}

.logotext {
    color: #003067;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.copyright {
    color: #001c41;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.iconn {
    height: 15px;
}

.logofoot{
    display: flex;
    align-items: center;
}

.icons{
    display: flex;
    gap: 15px;
}
